<!--app-bare-navigation></app-bare-navigation-->
<section class="ht-hauteurMin section-apropos" id="apropos">
    <article class="aproposArticle">
        <h1>A propos de moi</h1>
        <img md-card-image-sm src="./assets/media/images/sm_autoportrait.png" class="aproposImage" />
        <div class ="contenuText">
            <p class="ht-section-paragraphe">Je suis un programmeur en Intégration multimédia, qui  a commencé sa formation au Brésil et est ensuite venu l’approfondir au collège de Maisonneuve, à Montréal où je vis actuellement. Je suis passionné par la nouvelle technologie, l’art en général et le la programmation de jeu.</p>
            <p class="ht-section-paragraphe">            
                Dans ce vaste monde du multimédia qui vous fait cheminer entre la programmation, l’animation, l’édition d’image et de son, je crois que ma plus grande force se trouve dans ma capacité créatrice qui peut me conduire à élaborer et produire des  solutions visuellement intéressantes.</p>
        </div>    
</article>
</section>