<!--app-bare-navigation></app-bare-navigation-->
<div id="menu-bas" class="ht-menubar w-nav" data-animation="default" data-collapse="medium" data-duration="">
    <nav class="ht-navigationmenu w-nav-menu ht-navlink" role="navigation">
        <a class="navigation-link w-nav-link ht-navlink hvr-underline-from-center" (click)="isScrolled = true" routerLink="{{'A propos'}}">À PROPOS</a>
        <a class="navigation-link w-nav-link ht-navlink hvr-underline-from-center" (click)="isScrolled = true" routerLink="{{'competences'}}">COMPÉTENCES</a>
        <a class="navigation-link w-nav-link ht-navlink hvr-underline-from-center" (click)="isScrolled = true" routerLink="{{'projets'}}">PORTFOLIO</a>
        <a class="navigation-link w-nav-link ht-navlink hvr-underline-from-center" (click)="isScrolled = true" routerLink="{{'contactez-moi'}}">CONTACT</a>
    </nav>

    <svg *ngIf="isScrolled == true" id="logo" data-name="logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1500 860" preserveAspectRatio="xMidYMid slice" class="ht-iconeslogo" routerLink="/{{'accueil'}} " (click)="isScrolled = true">
        <defs>
            <style>
                .cls-1 {
                    fill: none;
                }
            </style>
        </defs>
        <title>Plan de travail 1</title>
        <path d="M0,0V850.64H1536V0ZM777.33,691.64H670.15v-166H522.71v166H416.35v-548L522.71,145V444.31H670.15V289H777.33Zm350.17-460.8H953.75V547.28H846.61l.14-316.44H670.25v-87H1127.5Z" />
        <rect id="_Tranche_" data-name="&lt;Tranche&gt;" class="cls-1" x="-1" y="-0.36" />
        <rect id="_Tranche_" data-name="&lt;Tranche&gt;" class="cls-1" x="-1" y="-0.36" width="1800" height="900" />
    </svg>

    <div class="ht-hamburgerbutton w-nav-button">
        <div class="icon w-icon-nav-menu"></div>
    </div>
</div>
<section [ngClass]="{'ht-entete-up':isScrolled}" class="section-entete ht-entete-down">
    <svg id="Calque_9" data-name="Calque 9" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1500 860" preserveAspectRatio="xMidYMid slice">
        <defs>
            <style>
                .cls-1 {
                    fill: none;
                }
            </style>
        </defs>
        <title>Plan de travail 1</title>
        <path d="M0,0V850.64H1536V0ZM777.33,691.64H670.15v-166H522.71v166H416.35v-548L522.71,145V444.31H670.15V289H777.33Zm350.17-460.8H953.75V547.28H846.61l.14-316.44H670.25v-87H1127.5Z" />
        <rect id="_Tranche_" data-name="&lt;Tranche&gt;" class="cls-1" x="-1" y="-0.36" />
        <rect id="_Tranche_" data-name="&lt;Tranche&gt;" class="cls-1" x="-1" y="-0.36" width="1800" height="900" />
    </svg>
    <div class="crossfade caroussel">
        <figure class=""></figure>
        <figure class=""></figure>
        <figure class=""></figure>
        <figure class=""></figure>
        <figure class=""></figure>
    </div>

</section>