<!--app-bare-navigation></app-bare-navigation-->

<section class="ht-comptence ht-hauteurMin">
    <h1> Compétences</h1>
    <div id="example-3" class="examples technologie">
        <h3>Technologie</h3> CSS3
        <div class="cssProgress">
            <div class="progress3">
                <div class="cssProgress-bar" data-percent="35" style="width: 35%;">
                    <span class="cssProgress-label">35%</span>
                </div>
            </div>
        </div>
        HTML5
        <div class="cssProgress">
            <div class="progress3">
                <div class="cssProgress-bar" data-percent="65" style="width: 65%;">
                    <span class="cssProgress-label">65%</span>
                </div>
            </div>
        </div>
        PHP
        <div class="cssProgress">
            <div class="progress3">
                <div class="cssProgress-bar" data-percent="75" style="width: 75%;">
                    <span class="cssProgress-label">75%</span>
                </div>
            </div>
        </div>
        JavaScript
        <div class="cssProgress">
            <div class="progress3">
                <div class="cssProgress-bar" data-percent="70" style="width: 70%;">
                    <span class="cssProgress-label">70%</span>
                </div>
            </div>
        </div>
        <div class="cssProgress">
            MySQL
            <div class="progress3">
                <div class="cssProgress-bar" data-percent="75" style="width: 75%;">
                    <span class="cssProgress-label">75%</span>
                </div>
            </div>
        </div>
        Node.js
        <div class="cssProgress">
            <div class="progress3">
                <div class="cssProgress-bar" data-percent="60" style="width: 65%;">
                    <span class="cssProgress-label">65%</span>
                </div>
            </div>
        </div>
        <div class="cssProgress">
            C++
            <div class="progress3">
                <div class="cssProgress-bar" data-percent="60" style="width: 65%;">
                    <span class="cssProgress-label">65%</span>
                </div>
            </div>
        </div>


    </div>
    <!-- @end #Technologie -->
    <div id="example-3" class="examples technologie">
        <h3>Logiciels</h3> Photoshop
        <div class="cssProgress">
            <div class="progress3">
                <div class="cssProgress-bar cssProgress-info" data-percent="75" style="width: 75%;">
                    <span class="cssProgress-label">75%</span>
                </div>
            </div>
        </div>
        Illustrator
        <div class="cssProgress">
            <div class="progress3">
                <div class="cssProgress-bar cssProgress-info" data-percent="80" style="width: 80%;">
                    <span class="cssProgress-label">80%</span>
                </div>
            </div>
        </div>
        Indesign
        <div class="cssProgress">
            <div class="progress3">
                <div class="cssProgress-bar cssProgress-info" data-percent="55" style="width: 55%;">
                    <span class="cssProgress-label">55%</span>
                </div>
            </div>
        </div>
        Première
        <div class="cssProgress">
            <div class="progress3">
                <div class="cssProgress-bar cssProgress-info" data-percent="75" style="width: 75%;">
                    <span class="cssProgress-label">75%</span>
                </div>
            </div>
        </div>
        After Effects
        <div class="cssProgress">
            <div class="progress3">
                <div class="cssProgress-bar cssProgress-info" data-percent="55" style="width: 55%;">
                    <span class="cssProgress-label">55%</span>
                </div>
            </div>
        </div>
        Unity 3D
        <div class="cssProgress">
            <div class="progress3">
                <div class="cssProgress-bar cssProgress-info" data-percent="75" style="width: 75%;">
                    <span class="cssProgress-label">75%</span>
                </div>
            </div>
        </div>

    </div>
    <!-- @end #logiciel -->
</section>